[user]
	name = Ryume Taguchi
	email = tgcrym01@gmail.com
[core]
	editor = emacs -nw
	pager = less -R
[color]
	ui = auto
[init]
	defaultBranch = main
[merge]
	ff = false
[pull]
	ff = only
[push]
	default = simple
[alias]
	st = status
	br = branch
	ca = commit -a
	co = checkout
	ps = push
	pl = pull
	amend = commit --amend
	logo = log --oneline
	logp = log --stat --decorate=short --pretty=format:'%C(yellow)%h %Cgreen%cr %Cblue%cn%Cred%d %Creset%s %C(cyan)%b'
	sync = !git checkout main && git pull origin main && git fetch -p origin && git branch -d $(git branch --merged | grep -v main | grep -v '*')
[include]
	path = .gitconfig.local
